{% extends 'openy/base.html' %}
{% load static %}

{% block body %}
{% if start.line %}
<h1>Training from {{ start.line }}</h1>
{% else %}
<h1>Training Whole Repertoire</h1>
{% endif %}

<p>
    Current line: <span id="train__current_line" class="line"></span>
</p>

<div class="train_panel">
    <div class="board"></div>
    <div class="train_bar">
        <div id="train__progress">
            <span id="train__step">0</span>/<span id="train__step_total">0</span>
        </div>
        <div id="train__trophy">
            <img class="icon" src="{% static 'openy/svg/trophy.svg' %}" alt="Trophy">
        </div>
        <a id="train__explore_link" href="#" title="Explore this position">
            <img class="icon" src="{% static 'openy/svg/search.svg' %}" alt="Explore">
        </a>
    </div>
</div>


<script type="text/javascript" src="{% static 'openy/js/train.js' %}"></script>
<script type="text/javascript" src="{% static 'openy/js/board.js' %}"></script>
<script type="text/javascript" src="{% static 'openy/js/explore.js' %}"></script>
<script type="text/javascript">
    var program = [{% for entry in exercise %}
        {"ask": {{entry.ask | lower}}, "fen": "{{entry.node.fen}}", "href": "{{entry.node.href}}", "line": "{{entry.node.line}}"},{% endfor %}
    ];
    initTrainingProgram(document.querySelector(".board"), program);
</script>

{% endblock %}
