{% extends 'openy/base.html' %}
{% load static %}

{% block title %}Exercise • {{block.super}}{% endblock title %}

{% block stylesheets %}
{{block.super}}
<link rel="stylesheet" href="{% static 'openy/css/exercise.css' %}" />
{% endblock stylesheets %}

{% block body %}

<h1>{{exercise.title}}</h1>

{% if exercise.description %}
<p>{{exercise.description}}</p>
{% endif %}

<div class="exercise">
    <div class="exercise__board board"></div>
    <div class="exercise__sidebar">
        <div class="exercise__sidebar__clock">
            <img class="icon" src="{% static 'openy/svg/clock.svg' %}" alt=""><span class="exercise__sidebar__timer">00:00</span>
        </div>
        <div class="exercise__sidebar__line line line--vertical"></div>
        <div class="exercise__sidebar__buttons">
            <div class="exercise__sidebar__buttons__restart"><img title="Restart" class="icon" src="{% static 'openy/svg/reload.svg' %}" alt="Restart"></div>
            <div class="exercise__sidebar__buttons__explore"><img title="Explore" class="icon" src="{% static 'openy/svg/search.svg' %}" alt="Explore"></div>
            <div class="exercise__sidebar__buttons__copy"><img title="Clip FEN" class="icon" src="{% static 'openy/svg/clipboard.svg' %}" alt="Copy"></div>
        </div>
    </div>
    <div class="exercise__start_button">Start</div>
    <div id="exercise_popup__success" class="exercise_popup">
        <img class="exercise_popup__icon" src="{% static 'openy/svg/checkmark.svg' %}" alt="">
        <div class="exercise_popup__title">Success</div>
        <div class="exercise_popup__button">OK</div>
    </div>
    <div id="exercise_popup__failure" class="exercise_popup">
        <img class="exercise_popup__icon" src="{% static 'openy/svg/close.svg' %}" alt="">
        <div class="exercise_popup__title">Failure</div>
        <div class="exercise_popup__button">OK</div>
    </div>
</div>

<script type="text/javascript" src="{% static 'openy/js/board.js' %}"></script>
<script type="text/javascript" src="{% static 'openy/js/exercise.js' %}"></script>
<script type="text/javascript" src="{% static 'openy/js/explore.js' %}"></script>
<script type="text/javascript">
    let boardStatus = initBoard(document.querySelector(".board"), null, null);
    let exercise = initExercise(document.querySelector(".exercise"), boardStatus, "{{exercise.starting_position}}", "{{exercise.moves}}");
</script>


{% endblock %}
