{% extends 'openy/layout.html' %}
{% load static %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'openy/css/board.css' %}" />
<link rel="stylesheet" href="{% static 'openy/css/evaluation.css' %}" />
<link rel="stylesheet" href="{% static 'openy/css/repertoire.css' %}" />
<link rel="stylesheet" href="{% static 'openy/css/explore.css' %}" />
<link rel="stylesheet" href="{% static 'openy/css/line.css' %}" />
{% endblock stylesheets %}

{% block title %}Exploring {{node.line}} • {{ block.super }}{% endblock title %}

{% block section %}
    <h1>Exploring the Database</h1>
    <p class="line_wrapper">
        <span class="line">{{node.line}}</span>
        <img class="line_external" id="train_shortcut" href="{% url 'openy:train' %}" csrf="{{csrf_token}}" title="Train" src="{% static 'openy/svg/external.svg' %}" alt="Train" />
    </p>
    <div class="explore_table">
        <div class="board_bar">
            <div id="bar1" class="evaluation_bar"></div>
            <div id="board1" class="board"></div>
        </div>
        <div class="history">
            <table>
                {% for ancestor in node.ancestors %}
                <tr>
                    <td><a href="{{ancestor.href}}">{{ancestor.label}}</a></td>
                    <td style="color: {{ancestor.color}}">{{ancestor.evaluation}}</td>
                    <td>{% if ancestor.comment %}{{ancestor.comment | capfirst}}{% else %}&ndash;{% endif %}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div id="repertoire1" class="repertoire" style="height: 420px" target="{{node.uid}}">
        <a id="repertoire_center_button" title="Center on current node" class="repertoire__fullscreen_link"><img src="{% static 'openy/svg/home.svg' %}" alt="Home"></a>
        <a title="Draw full repertoire" class="repertoire__fullscreen_link" href="{% url 'openy:graph' %}"><img src="{% static 'openy/svg/fullscreen.svg' %}" alt="Fullscreen"></a>
    </div>

    <script type="text/javascript">
        var csrfToken = "{{ csrf_token }}";
        var findEntryUrl = "{% url 'openy:find_entry' %}";
    </script>
    <script type="text/javascript" src="{% static 'openy/js/board.js' %}"></script>
    <script type="text/javascript" src="{% static 'openy/js/repertoire.js' %}"></script>
    <script type="text/javascript" src="{% static 'openy/js/evaluation.js' %}"></script>
    <script type="text/javascript" src="{% static 'openy/js/explore.js' %}"></script>
    <script type="text/javascript">
        let boardStatus = initBoard(document.querySelector("#board1"), "{{node.fen}}", createBoardCallback("{{node.uid}}"));
        initRepertoire(document.querySelector("#repertoire1"), "{% url 'openy:draw' %}?center={{node.uid}}&pred=2&succ=1");
        initEvaluationBar(document.querySelector("#bar1"), "{{node.evaluation}}");
        setTrainShortcut(document.getElementById("train_shortcut"), boardStatus);
    </script>
{% endblock %}
