{% extends 'openy/layout.html' %}
{% load static %}

{% block section %}
<h1>Openy</h1>

<blockquote>
    La partie d'Échecs dépend de trois facteurs : la <b>matière</b> (représentée
    par les 32 pièces), l'<b>espace</b> (représenté par les 64 cases de l'échiquier),
    et le <b>temps</b> (représenté par les coups). En décomposant ce dernier, le temps,
    on peut distinguer d'une façon générale, trois phases principales qui ne
    sont pas strictement limitées : le <b>début</b>, où les deux adversaires cherchent
    à développer leur pièces ; le <b>milieu</b>, où le combat des armées bat son plein ;
    la <b>fin</b>, où la réduction du matériel diminue le danger du mat, mais exige une
    précision d'autant plus grande dans tous les mouvements, car les erreurs y
    sont, malgré la simplicité apparente de la position, très faciles à
    commettre et très difficiles à réparer.
</blockquote >
 <p><cite>Bréviaire des échecs</cite> by Xavier Tartakover, 1933.</p>
<cite></cite>

{% endblock %}
