{% extends 'openy/layout.html' %}
{% load static %}

{% block title %}Train • {{block.super}}{% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'openy/css/board.css' %}" />
<link rel="stylesheet" href="{% static 'openy/css/forms.css' %}" />
<link rel="stylesheet" href="{% static 'openy/css/train.css' %}" />
{% endblock stylesheets %}

{% block section %}
<h1>Train Openings</h1>

<form class="form_train" action="" method="POST">
    <div>
        <p>
            Select the starting position with the board on the right.
        </p>
        <div class="input input--toggle">
            <input id="turn" type="checkbox" name="turn" />
            <span>Play as White</span>
            <label for="turn">
                <div class="input--toggle__ball"></div>
            </label>
            <span>Black</span>
        </div>
        {% csrf_token %}
        <input id="inputFen" type="hidden" name="fen" value="">
        <p>
            <input class="button button--contained" type="submit" value="Start">
        </p>
    </div>
    <div id="formBoard" class="board"></div>
</form>

<h2>Recent Exercises</h2>

{% if remaining_exercises %}
<div class="unfinished_exercise_list">
    {% for exercise in remaining_exercises %}
    <div class="unfinished_exercise">
        <a href="{% url 'openy:exercise' eid=exercise.id %}">
            <div class="board" disabled fen="{{exercise.first_position}}"></div>
        </a>
        <a class="unfinished_exercise__done" href="{% url 'openy:exercise_done' eid=exercise.id %}">&times;</a>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Nothing to show here!</p>
{% endif %}

<script type="text/javascript" src="{% static 'openy/js/board.js' %}"></script>
<script type="text/javascript">
    document.getElementById("inputFen").value = STARTING_FEN;
    initBoard(document.querySelector("#formBoard"), STARTING_FEN, (fen) => {
        document.getElementById("inputFen").value = fen;
    });
    document.querySelectorAll(".unfinished_exercise .board").forEach((item, i) => {
        initBoard(item, item.getAttribute("fen"), null);
    });
</script>

{% endblock %}
