.evaluation_bar {
    position: relative;
    background-color: #403d39;
    width: 40px;
    border-radius: 4px;
    z-index: 0;
    overflow: hidden;
}

.evaluation_bar__fill {
    background-color: #fff;
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s ease;
    height: 50%;
    z-index: 1;
}

.evaluation_bar__label {
    position: absolute;
    width: 40px;
    text-align: center;
    z-index: 2;
    font-size: 12px;
}

.evaluation_bar__label--white {
    top: 8px;
    color: #403d39;
}

.evaluation_bar__label--black {
    bottom: 8px;
    color: #fff;
}

.board_bar {
    display: flex;
    flex-direction: row;
}

.board_bar .board {
    width: 100%;
}

.board_bar .evaluation_bar {
    height: auto;
    flex-shrink: 0;
    margin-right: 8px;
}
