body {
    position: relative;
}

.exercise {
    display: flex;
    flex-direction: row;
}

.exercise__board {
    position: relative;
    width: 100%;
}

.exercise__sidebar {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
    text-align: center;
    background: #202020;
    border-radius: 4px;
    padding: 8px;
}

.exercise__sidebar__clock {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.exercise__sidebar__clock .icon {
    margin-right: 8px;
    height: 32px;
    line-height: 32px;
}

.exercise__sidebar__timer {
    font-size: 24px;
}

.exercise__sidebar__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.exercise__sidebar__buttons > * {
    margin: 4px;
    cursor: pointer;
}

.exercise__start_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;
    border-radius: 4px;
    transition: .2s linear;
    letter-spacing: 2px;
    font-weight: 400;
    background: rgba(47, 47, 47, .8);
    text-align: center;
    width: 100px;
    box-shadow: 0 0 4px black;
}

.exercise__start_button:hover {
    box-shadow: 0 0 6px black;
    background: rgba(47, 47, 47, 1);
}

.exercise--blurred .board {
    filter: blur(1px);
}

@-webkit-keyframes zoom-fade-in {
    0%   {opacity: 0; transform: translate(-50%, -50%) scale(.1);}
    85%  {opacity: 1; transform: translate(-50%, -50%) scale(1.05);}
    100% {opacity: 1; transform: translate(-50%, -50%) scale3d(1);}
}

@-webkit-keyframes zoom-out-fade-in {
    0%   {opacity: 0; transform: translate(-50%, -50%) scale(1);}
    80%  {opacity: 0; transform: translate(-50%, -50%) scale(5);}
    100% {opacity: 1; transform: translate(-50%, -50%) scale(1);}
}

.exercise_popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(32, 32, 32, .95);
    color: white;
    z-index: 1;
    padding: 16px 24px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .4);

}

.exercise_popup.show {
    animation: zoom-fade-in .5s ease-out;
    display: block;
}

.exercise_popup__title {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 28px;
}

.exercise_popup__button {
    user-select: none;
    padding: 4px;
    color: white;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.exercise_popup__button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
}

.exercise_popup__icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 8px;
    animation: zoom-out-fade-in 1s linear;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, .4);
}

#exercise_popup__success .exercise_popup__button, #exercise_popup__success .exercise_popup__icon {
    background: rgb(118, 150, 86);
}

#exercise_popup__failure .exercise_popup__button, #exercise_popup__failure .exercise_popup__icon {
    background: crimson
}

@media (max-width: 832px) {

    .exercise {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .exercise__sidebar {
        margin-top: 16px;
        margin-left: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .exercise__sidebar > * {
        margin-bottom: 8px;
    }

    .exercise__sidebar > *:last-child {
        margin-bottom: 0;
    }
}
