
.explore_table {
    display: flex;
    flex-direction: row;
    height: 344px;
    margin-bottom: 16px;
}

.explore_table > * {
    width: 100%;
    margin-right: 16px;
}

.explore_table > *:last-child {
    margin-right: 0;
}

.history_anchor {
    cursor: pointer;
}

@media (max-width: 832px) {

    .explore_table {
        flex-direction: column;
        height: auto;
    }

    .explore_table > * {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .explore_table > *:last-child {
        margin-right: 0;
        margin-bottom: 0;
    }

}
