.fullheight_padding {
    height: 16px;
}

.body_wrapper {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto 0 auto;
    background-color: #2F2F2F;
    padding: 0 16px 0 16px;
    min-height: 100vh;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .1);
}

.header {}

.header--inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__title {
    font-weight: bold;
}

.header__nav {}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.navbar>* {
    margin-left: 8px;
    margin-right: 8px;
}

.navbar>*:first-child {
    margin-left: 0px;
}

.navbar>*:last-child {
    margin-right: 0px;
}
