.repertoire {
    cursor: grab;
    width: 100%;
    display: flex;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
}

.repertoire svg {
    background-image: url("../grid.png");
    background-repeat: repeat;
    background-attachment: local;
}

.node {
    cursor: pointer;
}

.node:hover {
    text-decoration: none;
}

.node text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.repertoire line {
    stroke: white;
    stroke-width: 2;
}

.repertoire__fullscreen_link {
    opacity: .2;
    position: absolute;
    bottom: 16px;
    height: 18px;
    transition: .5s ease;
    cursor: pointer;
}

.repertoire__fullscreen_link:nth-of-type(1) {
    right: 40px;
}

.repertoire__fullscreen_link:nth-of-type(2) {
    right: 16px;
}

.repertoire__fullscreen_link:hover {
    opacity: 1;
}

.repertoire__fullscreen_link img {
    height: 18px;
}
